@page "/"

<PageTitle>Home Page</PageTitle>

<h4>Hello, world!</h4>

<p>This is the demo for Blazor Dynamic Form library.</p>
<p>Open source and NuGet package coming soon.</p>
<p>This will also support popular component libraries such as Radzen, MudBlazor and MatBlazor.</p>
<br />
<br />
<h5>How does this work?</h5>
<p>This use C# attributes and reflection to dynamically create forms.</p>
<p>This is very useful for medium/large blazor websites with lots of form types/models.</p>
<p>You don't need to spend hours creating a form template for each model type!</p>
<img src="models.png" />

<br />
<br />
<br />
<h5>Features</h5>

<div class="container">
    <div class="row">
        <div class="col">
            <center><strong>Useability</strong></center>
            <ul>
                <li>Generate forms based on a model</li>
                <li>Asp.net data annotations/validation support</li>
                <li>EditContext and form support (Coming Soon)</li>
                <li>Form action and POST request (Coming Soon)</li>
                <li>Improved html elements/support</li>
                <li>Auto complete support for browsers and password managers</li>
                <li>Radzen components is supported</li>
                <li>Support for MudBlazor/MatBlazor components (Coming Soon)</li>
            </ul>
        </div>
        <div class="col">
            <center><strong>Customization</strong></center>
            <ul>
                <li>Customize the fields with name, description and css attributes</li>
                <li>Reset button with custom C# actions</li>
                <li>Custom attributes built-in for better support</li>
                <li>Create your own validation attributes</li>
                <li>Number slider input support with steps</li>
                <li>Texbox hints with default options</li>
                <li>Camera file picker for mobile devices</li>
                <li>Color picker support</li>
            </ul>
        </div>
        <div class="col">
            <center><strong>Security</strong></center>
            <ul>
                <li>Automatically trim whitespaces from the data</li>
                <li>Improved Email format validation</li>
                <li>Block ftp:// from default url validation</li>
                <li>Added validation for Image url</li>
                <li>Added validation for https url</li>
                <li>Added validation for Range Steps</li>
            </ul>
        </div>
    </div>
</div>


<br />
<img src="example.png" />

<style>
    img {
        max-width: 80%;
    }
</style>